html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 9fr;
  font-family: 'Nunito', sans-serif;
}

/* Temporary border for clarity */
.sidebar,
.header,
.main-content {
  border: 1px solid;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.sidebar .dashboard {
  font-size: 1.4rem;
}

.sidebar li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  justify-self: center;
}

.sidebar .dashboard::before {
  width: 40px;
  height: 40px;
  background-image: url(./icons/view-dashboard.svg);
}

.sidebar .home::before {
  background-image: url(./icons/home.svg);
}

.sidebar .profile::before {
  background-image: url(./icons/card-account-details-outline.svg);
}

.sidebar .messages::before {
  background-image: url(./icons/message.svg);
}

.sidebar .history::before {
  background-image: url(./icons/clock-time-three.svg);
}

.sidebar .tasks::before {
  background-image: url(./icons/file-multiple.svg);
}

.sidebar .communities::before {
  background-image: url(./icons/account-group.svg);
}

.sidebar .settings::before {
  background-image: url(./icons/cog.svg);
}

.sidebar .support::before {
  background-image: url(./icons/help-box.svg);
}

.sidebar .privacy::before {
  background-image: url(./icons/shield-check.svg);
}