html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

/* Temporary border for clarity */
.sidebar,
.header,
.main-content {
  border: 1px solid;
}

.sidebar {
  grid-row: 1 / 3;
}